<!DOCTYPE html>
<html lang="en">
<%- include("layouts/header"); -%>

<body>
  <%- include("layouts/navbar"); -%>

  <header class="masthead" style="background-image: url('assets/img/pass.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Pass List</h1>
            <span class="subheading">Order Licence Cards</span>
          </div>

        </div>
      </div>
    </div>
  </header>
  <% console.log(list) %>
  <main class=" d-flex flex-row flex-wrap w-100 mx-auto ">
    <h1 class=" mx-auto ">Driver Test Pass List</h1>
    <% list.forEach(app => { %>

    <% if(app.name){ %>
    <section class="row w-75 mx-auto my-5 border border-dark border-2 rounded p-2" style="font-size: 20px !important;">
      <h1 class=" col-sm-3">Name</h1>
      <h1 class="display-6 col-sm-9">: <%=app.name %></h1>
      <h1 class=" col-sm-3">Licence No</h1>
      <h1 class="display-6 col-sm-9">: <%=app.license %></h1>
      <h1 class=" col-sm-3">Date</h1>
      <h1 class="display-6 col-sm-9">: <%=app.date %></h1>
      <h1 class=" col-sm-3">Time</h1>
      <h1 class="display-6 col-sm-9">: <%=app.time %></h1>
      <h1 class=" col-sm-3">Type</h1>
      <h1 class="display-6 col-sm-9">: <%=app.testType %></h1>
      <a href="/PassList/<%=app.userId %>/<%=app.testType %>">
        <h1 class="display-7 text-light bg-success text-center">Order Card<h1>
      </a>
    </section>

    <% } %>

    <% }); %>
  </main>
  <%- include("layouts/footer"); -%>
</body>

</html>