<!DOCTYPE html>
<html lang="en">
<%- include("layouts/header"); -%>

<body>
  <%- include("layouts/navbar"); -%>

  <header class="masthead" style="background-image: url('/assets/img/pass.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1 class="display-4"> Test Takers</h1>

            <span class="meta">
              Evaluate the Candidate </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="w-50  mx-auto pl-5">


    <br />
    <h2>Test Takers Details</h2>

    <br />

    <div class="form-floating">
      <input class="form-control" id="userId" name="userId" type="text" placeholder="Enter your UserID..."
        data-sb-validations="required" <%if(userId){%> value="<%=userId%>" <%}%>           
        readonly
      />
      <label for="UserID">UserID</label>
      <div class="invalid-feedback" data-sb-feedback="UserID:required">
        UserID is required.
      </div>
    </div>
        
    <div class="form-floating">
      <input
        class="form-control"
        id="fName"
        name="fName"
        type="text"
        placeholder="Enter your first name..."
        data-sb-validations="required"
        <%if(fName){%> value="<%=fName%>" <%}%>  
        readonly
      />
      <label for="name">First Name</label>
      <div class="invalid-feedback" data-sb-feedback="fName:required">
        First name is required.
      </div>
    </div>

    <div class="form-floating">
      <input
        class="form-control"
        id="lName"
        name="lName"
        type="text"
        placeholder="Enter your last name..."
        data-sb-validations="required"
        <%if(lName){%> value="<%=lName%>" <%}%>  
        readonly
      />
      <label for="name">Last Name</label>
      <div class="invalid-feedback" data-sb-feedback="lName:required">
        Last name is required.
      </div>
    </div>

    <div class="form-floating">
      <input
        class="form-control"
        id="address"
        name="address"
        type="text"
        placeholder="Enter Address"
        data-sb-validations="required"
        <%if(address){%> value="<%=address%>" <%}%>  
        required
      />
      <label for="address">Your Address</label>
      <div class="invalid-feedback" data-sb-feedback="Address:required">
        Address is required.
      </div>
    </div>

    <div class="form-floating">
      <input
        class="form-control"
        id="DOB"
        name="DOB"
        type="text"
        placeholder="Enter DOB"
        data-sb-validations="required"
        <%if(DOB){%> value="<%=DOB%>" <%}%>  
        required
      />
      <label for="address">Your DOB</label>
      <div class="invalid-feedback" data-sb-feedback="DOB:required">
        DOB is required.
      </div>
    </div>

    <div class="form-floating">
      <input
        class="form-control"
        id="details"
        name="details"
        type="text"
        placeholder="Enter Car Details"
        data-sb-validations="required"
        <%if(carDetails){%> value="<%=carDetails%>" <%}%> 
        required 
      />
      <label for="details">Your Car Details</label>
      <div class="invalid-feedback" data-sb-feedback="Details:required">
        Details is required.
      </div>
    </div>
          
    <div class="form-floating">
      <input
        class="form-control"
        id="license"
        type="text"
        name="license"
        placeholder="Enter License Number"
        data-sb-validations="required"
        <%if(license){%> value="<%=license%>" <%}%>  
        readonly
      />
      <label for="license">Your License Number</label>
      <div class="invalid-feedback" data-sb-feedback="license:required">
        License number is required.
      </div>
    </div>
    <div class="form-floating">
      <input
        class="form-control"
        id="licenseType"
        type="text"
        name="licenseType"
        placeholder="Enter License licenseType"
        data-sb-validations="required"
        <%if(licenseType){%> value="<%=licenseType%>" <%}%>  
        readonly
      />
      <label for="license">Your licenseType</label>
      <div class="invalid-feedback" data-sb-feedback="licenseType:required">
        license Type is required.
      </div>
    </div>
            <br> 
            <h1 class="form-control">Car Image 1</h1>
          <%if(image1){%> <img src="/<%=image1%>" class="img-fluid" alt="car image">
      <%}%>
<br>
          <h1 class="form-control">Car Image 2</h1>
          <%if(image2){%>
      <img src="/<%=image2%>" class="img-fluid" alt="car image">
      <%}%>
        <br/>
         <form
        id="contactForm"
        action="/TestExaminer"
        method="post"
        data-sb-form-api-token="API_TOKEN"
        enctype="multipart/form-data"
      >
        
          <input
            class="d-none"
            id="userId"
            name="userId"
            type="text"
            
            <%if(userId){%>
      value = "<%=userId%>"
      <%}%>           
            readonly
          />
          <input
          class="d-none"
          id="testType"
          name="testType"
          type="text"
          
          <%if(testType){%>
      value = "<%=testType %>"
      <%}%>           
          readonly
        />
            <br/>
            <div class="form-outline mb-4">
                <label class="form-label" for="user"><span>Comments</span></label>
                <textarea
                  type="text"
                  id="comment"
                  name="comment"
                  class="form-control"
                  placeholder="comments"
                ></textarea>
              </div>
        <div class="form-outline mb-4">
            <h1 class="display-6">Decision</h1>
            <select class="form-select" id="result" name="result">
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
        </div>
        <!-- Submit Button-->
        <button
          class="btn btn-dark btn-lg text-uppercase"
          id="resultButton"
          type="submit"
        >
          post result
        </button>
      </form>
    </main>

    <%- include("layouts/footer"); -%>
</body>

</html>